<section class="projects">
    <div class="container">
        <h2 class="projects-title">Projects</h2>
        <h3 class="projects-subtitle">Things I’ve built so far</h3>
        <ul class="projects-list">
            <li class="projects-list__item">
                <img src="/img/project/projects-list-1.png" srcset="/img/project/projects-list-1-2x.png 2x" alt=""
                    class="projects-list-img">
                <div class="projects-list__wrapper">
                    <h4 class="projects-list-title">Project Tile goes here</h4>
                    <p class="projects-list-text">This is sample project description random things are here in
                        description This is sample project lorem ipsum generator for dummy content</p>
                    <span class="projects-list-description">Tech stack : HTML , JavaScript, SASS, React</span>
                    <div class="projects-link-wrapper">
                        <a href="" class="projects-list-link">
                            <span class="projects-link-text">Live Preview</span>
                            <svg class="projects-list-svg">
                                <use href="/img/svg/social-svg.svg#akar-icons_link-chain"></use>
                            </svg>
                        </a>
                        <a href="" class="projects-list-link">
                            <span class="projects-link-text">View Code</span>
                            <svg class="projects-list-svg">
                                <use href="/img/svg/social-svg.svg#akar-icons_github-fill"></use>
                            </svg>
                        </a>

                    </div>
                </div>
            </li>
            <li class="projects-list__item">
                <img src="/img/project/projects-list-2.png" srcset="/img/project/projects-list-2-2x.png 2x" alt=""
                    class="projects-list-img">
                <div class="projects-list__wrapper">
                    <h4 class="projects-list-title">Project Tile goes here</h4>
                    <p class="projects-list-text">This is sample project description random things are here in
                        description This is sample project lorem ipsum generator for dummy content</p>
                    <span class="projects-list-description">Tech stack : HTML , JavaScript, SASS, React</span>
                    <div class="projects-link-wrapper">
                        <a href="" class="projects-list-link">
                            <span class="projects-link-text">Live Preview</span>
                            <svg class="projects-list-svg">
                                <use href="/img/svg/social-svg.svg#akar-icons_link-chain"></use>
                            </svg>
                        </a>
                        <a href="" class="projects-list-link">
                            <span class="projects-link-text">View Code</span>
                            <svg class="projects-list-svg">
                                <use href="/img/svg/social-svg.svg#akar-icons_github-fill"></use>
                            </svg>
                        </a>

                    </div>
                </div>
            </li>
            <li class="projects-list__item">
                <img src="/img/project/projects-list-3.png" srcset="/img/project/projects-list-3-2x.png 2x" alt=""
                    class="projects-list-img">
                <div class="projects-list__wrapper">
                    <h4 class="projects-list-title">Project Tile goes here</h4>
                    <p class="projects-list-text">This is sample project description random things are here in
                        description This is sample project lorem ipsum generator for dummy content</p>
                    <span class="projects-list-description">Tech stack : HTML , JavaScript, SASS, React</span>
                    <div class="projects-link-wrapper">
                        <a href="" class="projects-list-link">
                            <span class="projects-link-text">Live Preview</span>
                            <svg class="projects-list-svg">
                                <use href="/img/svg/social-svg.svg#akar-icons_link-chain"></use>
                            </svg>
                        </a>
                        <a href="" class="projects-list-link">
                            <span class="projects-link-text">View Code</span>
                            <svg class="projects-list-svg">
                                <use href="/img/svg/social-svg.svg#akar-icons_github-fill"></use>
                            </svg>
                        </a>

                    </div>
                </div>
            </li>
            <li class="projects-list__item">
                <img src="/img/project/projects-list-4.png" srcset="/img/project/projects-list-4-2x.png 2x" alt=""
                    class="projects-list-img">
                <div class="projects-list__wrapper">
                    <h4 class="projects-list-title">Project Tile goes here</h4>
                    <p class="projects-list-text">This is sample project description random things are here in
                        description This is sample project lorem ipsum generator for dummy content</p>
                    <span class="projects-list-description">Tech stack : HTML , JavaScript, SASS, React</span>
                    <div class="projects-link-wrapper">
                        <a href="" class="projects-list-link">
                            <span class="projects-link-text">Live Preview</span>
                            <svg class="projects-list-svg">
                                <use href="/img/svg/social-svg.svg#akar-icons_link-chain"></use>
                            </svg>
                        </a>
                        <a href="" class="projects-list-link">
                            <span class="projects-link-text">View Code</span>
                            <svg class="projects-list-svg">
                                <use href="/img/svg/social-svg.svg#akar-icons_github-fill"></use>
                            </svg>
                        </a>

                    </div>
                </div>
            </li>
            <li class="projects-list__item">
                <img src="/img/project/projects-list-5.png" srcset="/img/project/projects-list-5-2x.png 2x" alt=""
                    class="projects-list-img">
                <div class="projects-list__wrapper">
                    <h4 class="projects-list-title">Project Tile goes here</h4>
                    <p class="projects-list-text">This is sample project description random things are here in
                        description This is sample project lorem ipsum generator for dummy content</p>
                    <span class="projects-list-description">Tech stack : HTML , JavaScript, SASS, React</span>
                    <div class="projects-link-wrapper">
                        <a href="" class="projects-list-link">
                            <span class="projects-link-text">Live Preview</span>
                            <svg class="projects-list-svg">
                                <use href="/img/svg/social-svg.svg#akar-icons_link-chain"></use>
                            </svg>
                        </a>
                        <a href="" class="projects-list-link">
                            <span class="projects-link-text">View Code</span>
                            <svg class="projects-list-svg">
                                <use href="/img/svg/social-svg.svg#akar-icons_github-fill"></use>
                            </svg>
                        </a>

                    </div>
                </div>
            </li>
            <li class="projects-list__item">
                <img src="/img/project/projects-list-6.png" srcset="/img/project/projects-list-6-2x.png 2x" alt=""
                    class="projects-list-img">
                <div class="projects-list__wrapper">
                    <h4 class="projects-list-title">Project Tile goes here</h4>
                    <p class="projects-list-text">This is sample project description random things are here in
                        description This is sample project lorem ipsum generator for dummy content</p>
                    <span class="projects-list-description">Tech stack : HTML , JavaScript, SASS, React</span>
                    <div class="projects-link-wrapper">
                        <a href="" class="projects-list-link">
                            <span class="projects-link-text">Live Preview</span>
                            <svg class="projects-list-svg">
                                <use href="/img/svg/social-svg.svg#akar-icons_link-chain"></use>
                            </svg>
                        </a>
                        <a href="" class="projects-list-link">
                            <span class="projects-link-text">View Code</span>
                            <svg class="projects-list-svg">
                                <use href="/img/svg/social-svg.svg#akar-icons_github-fill"></use>
                            </svg>
                        </a>

                    </div>

                </div>
            </li>
        </ul>
    </div>
</section>