.header {
    padding-top: 20px;
}

.flex-tel-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header-link {
    background: linear-gradient(90deg, #0a3c51 -2.06%, #783365 100%);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    padding: 7px 10px;
    border: 1px solid #db7373;
    border-radius: 256px;
    transition: background 1.3s cubic-bezier(0.4, 0, 0.2, 1);

}

.header-link:is(:hover,:focus){
    background: linear-gradient(90deg, #84356d -2.06%, #156c91 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.header-tel-open {}

.header-tel {}

.header-tel-close {
    fill: #A7A7A7;
    display: block;
    margin-left: auto;
    margin-top: 24px;
    margin-right: 24px;
}

.header-list {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.header-list__element {}

.header-list__link {
    color: #666;
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__link:is(:hover, :focus){
    color:orangered;
}

.header-svg {
    margin-top: 24px;
    display: flex;
    gap: 20px;
}

.header-svg__item {}



.header-tel {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 100%;
    left: 0;
    width: 45%;
    height: 100%;
    background-color: var(--write-title);
    z-index: 20;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    background-color: #191919;
}

.is-open {
    visibility: visible;
    transition: transform 250ms ease-in-out, visibility 250ms ease-in-out;
    overflow: scroll;
}

.header-tel.is-open {
    transform: translateX(0);
    right: -55%;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, visibility 250ms ease-in-out;
}

.js-menu-container {
    margin: 0 auto;
    padding: 0 10px;
}